body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
 

.animal {
  text-align: center;
  border: 2px solid black;
  float: left;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  width: 18%;
}

img {
  width: 100%;
  height: auto;
}