body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
 

.animal {
  text-align: center;
  border: 2px solid black;
  float: left;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  width: 18%;
}

img {
  width: 100%;
  height: auto;
}

.animal ul li {
  color: red;
}

.animal ol li {
  color: blue;
}

.animal p {
  font-weight: bolder;
  color:blueviolet;
  background-color: forestgreen;
}